.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  gap: 2%;
  z-index: 0;
}

.btn {
  margin: 5px;
}

.new_card {
  display: flex;
  justify-content: center;
}
